<!-- Nav tabs -->
<ul class="nav nav-tabs" id="navId">
  <li class="nav-item">
    <a [routerLink]="['/admin/category']" routerLinkActive="router-link-active"  class="nav-link active">Add Category</a>
  </li>

  <li class="nav-item">
    <a [routerLink]="['/admin/subcategory']" routerLinkActive="router-link-active"  class="nav-link active">Add Sub-Category</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/admin/subsubcategory']" class="nav-link active">Add Sub-Sub-Category</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/admin/brand']" class="nav-link active">Add Brand</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/admin/product']" class="nav-link active">Add Product</a>
  </li>


</ul>


<router-outlet></router-outlet>
