<form [formGroup]="subcategoryForm">
<div  >
    
    <ejs-dropdownlist  id='ddlelement' formControlName="category"  [dataSource]='Catdata' [fields]="fields"  [placeholder]='placeholder' popupHeight='200px' popupWidth='250px' ></ejs-dropdownlist>
</div>
<br>
<br>
<br>
<br>
<div>
    <label for="">Sub Category</label>
  <input type="text" formControlName="subcategory">
</div>
<br><br>
    <div class="form-group">
      <label for="">Description</label>
      <textarea class="form-control"  formControlName="description" name="" id="" rows="3"></textarea>
  </div>
<br>
<div class="marginTop col-lg-12 col-lg-offset-6">
    <input type="submit" value="Add Category" class="btn btn-primary" (click)="subcategoryFormSubmit(subcategoryForm.value)"/>
    </div>
</form>
<br>
<br>
 <table class="table table-hover table-inverse table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th>Serial Number</th>
        <th>Category</th>
        <th>Sub-Category</th>
        
        <th>Creation on </th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of subCatData;let k=index">
          <td scope="row">{{k+1}}</td>
          <td>{{getCatNameById(s.categoryid)}}</td>
          <td>{{s.name}}</td>
          <td>{{s.createdOn | date}}</td>
          <td>{{s.description}}</td>
          <td>
            <button  class="btn btn-danger" (click)="deleteCategorybyId(i._id)">delete</button>
            <button class="btn btn-success" >edit</button>
          </td>
        
        </tr>
       
      </tbody>
  </table>