<form [formGroup]="subcategoryForm" id="catform">
<div class="container">
  <div class="col-md-8">  
    <div style="width: 300px;margin-left: 170px;">
  <ejs-dropdownlist id='ddlelement' formControlName="categoryId"  [dataSource]='Catdata' [fields]="fields"  [placeholder]='placeholder' popupHeight='200px' popupWidth='200px' ></ejs-dropdownlist>
  </div>
</div>

  <br>
  <div class="form-group row">
    <label for="" class="col-sm-2" >Sub Category</label>
    <input class="form-control col-sm-5" type="text" formControlName="name">
  </div>
  <div class="form-group row">
      <label class="col-sm-2" for="">Description</label>
      <textarea class="form-control col-sm-5"  formControlName="description" name="" id="" rows="3"></textarea>
  </div>
<br>
<div class="form-group row ">
    <div class="col-sm-2"></div>
    <span>
      <input type="submit" value="Add Sub Category" class="btn-primary mr-1" (click)="subcategoryFormSubmit(subcategoryForm.value)"/>
  </span>
    
    <span>
        <button class=" btn-danger" (click)="showTable()">Cancle</button>
    </span>  
  </div>
  </div>  
</form>
<br>
<br>



<div class="container" id="listTable">
  <button value="Add Sub Categry" class="btn btn-secondary mb-2 float-right" (click)=showForm()>Add Sub Categry</button>

 <table class="table table-hover table-inverse" >
    <thead class="thead-inverse">
      <tr>
        <th>Serial Number</th>
        <th>Category</th>
        <th>Sub-Category</th>
        
        <th>Creation on </th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of subCatData;let k=index"> 
          <td scope="row">{{k+1}}</td>
          <td *ngIf = "editsubcat !=s.id; else subcategoryedit">{{s.getsubcategoryCategory[0].name}}</td>
          <td *ngIf = "editsubcat !=s.id;else subcategoryedit">{{s.name}}</td>
          
          <td *ngIf = "editsubcat !=s.id">{{s.description}}</td>
          <td>{{s.creationDate | date}}</td>
          <td *ngIf = "editsubcat != s.id">
            <button  class="btn-danger mr-1" (click)="deleteSubCategorybyId(s.id)">delete</button>
            <button class="btn-success" (click) = "editSubCategory(s.id)">edit</button>
          </td>
        
        </tr>
       
      </tbody>
  </table>
</div>



   <ng-template  #subcategoryedit>
    <td><input type="text" [(ngModel)]="ename"  name="" id=""></td>
    <td><input type="text" name="" [(ngModel)]="edes" id=""></td>
    
    <td>
      <button class="btn btn-danger" (click)="cancleSubCategory()" >cancel</button>
      <button class="btn btn-success" (click)="saveSubCategory()"  >save</button>
    </td>
    
    </ng-template>