<div class="container">
	<div class="row">
    <div class="col-md-4">
		<div class="form_main">
                <h4 class="heading"><strong>Add </strong> Sub Sub Category <span></span></h4>
                <div class="form">
                <div  [formGroup]="SubSubCategoryForm" id="contactFrm" name="contactFrm">

                    <ejs-dropdownlist  (change)="check($event)" id='ddlelement' formControlName="categoryid"  [dataSource]='Catdata' [fields]="fields"  [placeholder]='placeholder' popupHeight='200px' popupWidth='250px' ></ejs-dropdownlist>
                    <ejs-dropdownlist *ngIf="subcategoryData"  id='ddlelement1' formControlName="subcategoryid"  [dataSource]='filterCategory' [fields]="subfields"  [placeholder]='subplaceholder' popupHeight='200px' popupWidth='250px' ></ejs-dropdownlist>
                    <input type="text" formControlName="name"  placeholder="Please input Sub Sub Category Name"  class="txt">
                    <input type="text" formControlName="description"  placeholder="Please input Description" class="txt">
                    
                     <input type="submit" value="submit" (click)="SubSubCategoryFormSubmit(SubSubCategoryForm.value)" class="txt2">
                      </div>
                     
            </div>
            </div>
        </div>
	</div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>S.N.</th>
        <th>Sub Sub Category Name</th>
        <th>Sub Category Name</th>
        <th>Category Name</th>
        <th>Description</th>
        <th>Creation Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of SubSubCategoryData;let j=index" >
        <td scope="row">{{j+1}}</td>
        <td>{{i.name}}</td>
        <td>{{i.getsubsCategory[0].name}}</td>
        <td>{{i.getsCategory[0].name}}</td>
        <td>{{i.description}}</td>
        <td>{{i.creationDate | date}}</td>
        <td>
          <button>delete</button>
          <button>edit</button>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>


<!-- <pre>{{ Catdata |json}}</pre> -->